<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Filter Spotify</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="https://github.com/jwatson4115/spotify-filter-live-music">Source Code</a>
    </nav>
  </div>
</header>

<main role="main" class="inner cover">
  <div *ngIf="!isLoggedIn">
    <h1 class="cover-heading">Filter live music on Spotify.</h1>
    <p class="lead">Log in with Spotify below to get a playlist of any artist with live and demo music filtered out.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary" (click)="authenticate()">Log In</a>
    </p>
  </div>
  <div *ngIf="isLoggedIn">
      <h1 class="cover-heading">User logged in.</h1>
      <p class="lead">Log in with Spotify below to get a playlist of any artist with live and demo music filtered out.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Log In</a>
      </p>
  </div>
</main>

<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Copyright &copy; 2018 James Watson</p>
  </div>
</footer>


