<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Filter Spotify</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="#">Home</a>
      <a class="nav-link" href="https://github.com/jwatson4115/spotify-filter-live-music">Source Code</a>
    </nav>
  </div>
</header>

<main role="main" class="inner cover">
  
  <div *ngIf="!isLoggedIn">
    <h1 class="cover-heading">Filter live music on Spotify.</h1>
    <p class="lead">Log in with Spotify below to get a playlist of any artist with live and demo music filtered out.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary" (click)="authenticate()">Log In</a>
    </p>
  </div>

  <div *ngIf="isLoggedIn && (buildState !== buildStateComplete)">
    <div class="card text-left">
      <div class="card-body">
        <h5 class="card-title">Choose an artist to filter</h5>
        <form [formGroup]="form">
          <div class="form-group">
            <label for="artistInput">Artist name</label>
            <input type="text" formControlName="artist" class="form-control" id="artistInput" aria-describedby="artistHelp" placeholder="Enter artist">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="demoCheck">
            <label class="form-check-label" for="demoCheck">Also filter demo tracks</label>
          </div>
          <button type="submit" class="btn btn-secondary" (click)="buildFilteredPlaylist()">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="buildState == buildStateComplete">
      <h5 class="text-left">Your new playlist</h5>

      <div class="resp-container">
        <iframe class="resp-iframe" [src]="sanitizer.bypassSecurityTrustResourceUrl(playlistUrl)" gesture="media" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
  </div>

</main>

<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Copyright &copy; 2018 James Watson</p>
  </div>
</footer>


